*{
    margin: 0;
    padding: 0;
}

:root{
    font-size: 2vh;
    --Layout_option_backgroundColor: #6575a2 ; 
    --Layout_option_hover_backgroundColor: #a0bded ; 
}

body{
    overflow-y: hidden;
    overflow-x: hidden;
}

#ShaktiGold{
    height: 100vh;
    width: 100vw;
    background-color: #ececec;
    overflow-y: hidden;
    display: flex;
    text-align: left;
    justify-content:  center;
    overflow-x: hidden;
}

#OptionDiv{
    width: 20%;
    background-color: var(--Layout_option_backgroundColor) ;
    padding-top: 10px;
    max-height: 100vh;
    height: 100vh;
}

#ShaktiGold_option_title{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: center;
    justify-content: center;
    background-color: var(--Layout_option_hover_backgroundColor);
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    padding-left: 0.50rem;
    padding-right: 0.50rem;
    padding-top: 0.70rem;
    padding-bottom: 0.70rem;
    cursor: pointer;
}

.Admin_option_layout{
    background-color: rgb(240, 239, 239);
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    margin-left: 1rem;
    padding-top: 0.90rem;
    padding-bottom: 0.90rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    width: 80%;
}

.Admin_option_layout:hover{
    background-color: white;
}

#Order_layout{
    height: 98vh;
    width: 80%;
    padding-top: 2vh;
    display: none;
    overflow-y: auto;
}

.Order_data_layout{
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    margin-top: 15px;
    margin-bottom: 8px;
    cursor: pointer;
    border-radius: 5px;
}

.Order_data_index{
    font-family: 'Mukta', sans-serif;
    font-size: 1.3rem;
    background-color: var(--Layout_option_backgroundColor);
    padding-top: 0.30rem;
    padding-bottom: 0.30rem;
    padding-left: 0.90rem;
    padding-right: 0.90rem;
    color: white;
    text-align: center;
    justify-content:  center;
    margin-left: -1rem;
    margin-right: 1rem;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 5px;
    box-shadow: 0.20rem 0.20rem 0.20rem rgb(101, 155, 255);
}

.UsernameTitleLayout{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.Order_data_username{
    display: flex;
    text-align: center;
    justify-content: left;
    padding-left: 25px;
    padding-top: 0.80rem;
    padding-bottom: 0.80rem;
    background-color: var(--Layout_option_hover_backgroundColor);
}

.Order_data_usernameTitle{
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.20rem;
    font-weight: 600;
    margin-top: auto;
    margin-bottom: auto;
}

.Order_data_usernameData{
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.25rem;
    margin-top: auto;
    margin-bottom: auto;
}

.Datadiv{
    background-color: transparent;
    border-bottom: 1px solid rgb(209, 209, 209);
    padding-top: 0px;
    padding-bottom: 0px;
}

.Data1Title{
    padding-top: 0.85rem;
    padding-bottom: 0.85rem;
}

.Data2Title{
    padding-top: 0.85rem;
    padding-bottom: 0.85rem;
}

.BorderLayout{
    border-left: 1px solid rgb(209, 209, 209);
    padding-left: 8px;
}

.Order_data1{
    display: flex;
    text-align: center;
    justify-content: left;
    width: 50%;
}

.Product_data_div{
    display: flex;
    text-align: center;
    justify-content: left;
    width: 100%;
    border-top: 1px solid rgb(209, 209, 209);
}

.Product_data_information{
    display: flex;
    text-align: center;
    justify-content: left;
    padding-top: 0.70rem;
    padding-bottom: 0.70rem;
    width: 50%;
    padding-left: 0.80rem;
}

.Product_image_data{
    height: 100px;
    width: 100px;
    margin-right: 0.60rem;
}

.Product_all_data{
    margin-top: 0.50rem;
    border-left: 1px solid rgb(209, 209, 209);
    padding-left: 0.60rem;
}

.Product_information{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
    text-align: left;
}

.Product_weight_size{
    display: flex;
    text-align: center;
    justify-content: left;
    margin-top: 13px;
}

.Product_weight_data{
    display: flex;
    text-align: center;
    justify-content: left;
}

.Product_weight_title{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.15rem;
    background-color: rgb(228, 228, 228);
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 5px;
    margin-top: auto;
    margin-bottom: auto;
}

.Product_weight{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.15rem;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 6px;
}

.sizeLayout{
    margin-left: 10px;
}

.Product_price_information{
    display: flex;
    text-align: center;
    justify-content: left;
    margin-top: 10px;
}

.Product_discount_price{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.20rem;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    color: rgb(255, 68, 68);
}

.Product_retail_price{
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.20rem;
    margin-left: 10px;
}

.ProductBorder{
    border-left: 1px solid rgb(209, 209, 209);
}

.MobileNumberBorder{
    border-bottom: 0px;
}

.Address_information_div{
    margin-top: 10px;
    padding-left: 20px;
    border-top: 1px solid rgb(232, 232, 232);
    padding-top: 10px;
    padding-bottom: 10px;
}

.Address_title{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.25rem;
    background-color: rgb(228, 228, 228);
    width: fit-content;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

.Address_data{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.20rem;
    margin-top: 8px;
    margin-left: 2px;
    margin-bottom: 5px;
}

.Admin_access_product_option{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-bottom: 15px;
}

.Admin_access_product_option_layout{
    background-color: var(--Layout_option_backgroundColor);
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.25rem;
    border-radius: 5px;
    color: white;
}

.Admin_access_product_option_layout:hover{
    background-color: var(--Layout_option_hover_backgroundColor);
}

.Admin_login_div{
    position: absolute;
    background-color: rgba(61, 61, 61, 0.6);
    height: 100vh;
    width: 100vw;
    display: flex;
    text-align: center;
    justify-content: center;
    z-index: 10;
    display: none;
}

.Admin_login{
    background-color: white;
    margin: auto;
    background-color: 30%;
    height: fit-content;
    z-index: 12;
    width: 30%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
}

.Admin_login_title{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.3rem;
}

.Admin_input{
    background-color: rgb(232, 232, 232);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    border: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    outline: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
}

.Admin_input:focus{
    border: 0px;
    outline: none;
}

.Admin_login_button{
    background-color: var(--Layout_option_backgroundColor);
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.25rem;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    color: white;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.Admin_login_button:hover{
    background-color: var(--Layout_option_hover_backgroundColor);
}

#Process_layout{
    height: 100vh;
    width: 100%;
    display: none;
    text-align: center;
    justify-content: center;
}

#SpinnerLayout{
    margin: auto;
    height: 3rem;
    width: 3rem; 
}

#UserInformation_layout{
    display: none; 
    width: 80%;
}

#SearchLayout{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.80rem;
    display: flex;
    text-align: center;
    justify-content: left;
}

#SearchInput{
    outline: none;
    border: 0px;
    font-family:  'Ubuntu', sans-serif;
    font-size: 1.20rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.80rem;
    border-radius: 5px;
    width: 60%;
    margin-top: auto;
    margin-bottom: auto;
}

#SearchButton{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.20rem;
    text-align: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    background-color: var(--Layout_option_backgroundColor);
    color: white;
    padding-top: 0.50rem;
    padding-bottom: 0.50rem;
    padding-left: 0.80rem;
    padding-right: 0.80rem;
    margin-right: 1.50rem;
    border-radius: 5px;
    cursor: pointer;
}

#BackButton{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.20rem;
    text-align: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    padding-top: 0.50rem;
    padding-bottom: 0.50rem;
    padding-left: 0.80rem;
    padding-right: 0.80rem;
    margin-right: 1.50rem;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(53, 53, 53);
}

#SearchButton:hover{
    background-color: var(--Layout_option_hover_backgroundColor);
}

.UserInformation_list_data{
    display: flex;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

.ListIndexLayout{
    background-color: var(--Layout_option_backgroundColor);
}

.ListIndexData{
    color: white;
}

.OtherIndexLayout{
    background-color: white;
}

.OtherIndexData{
    color: black;
}

.UserInformation_list_index{
    width: 30%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.10rem;
    padding-left: 0.60rem;
    padding-top: 0.60rem;
    padding-bottom: 0.60rem;
    margin-top: auto;
    margin-bottom: auto;
}

.UserInformation_list_data_title{
    width: 40%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.10rem;
    padding-top: 0.60rem;
    padding-bottom: 0.60rem;
    padding-left: 0.60rem;
    border-left: 1px solid var(--Layout_option_hover_backgroundColor);
}

.UserInformation_list_data_information{
    width: 30%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.10rem;
    padding-top: 0.60rem;
    padding-bottom: 0.60rem;
    padding-left: 0.50rem;
    border-left: 1px solid var(--Layout_option_hover_backgroundColor);
}

#Dashboard{
    height: 100vh;
    width: 80%;
    padding: 1rem;
    background-color: white;
    display: block;
}

.Gold_weight_option{
    width: fit-content;
}


.Gold_weight_option{
    background-color: #ffe880;
    padding-top: 0.60rem;
    padding-bottom: 0.60rem;
    padding-left: 1.50rem;
    padding-right: 1.50rem;
    margin-left: 0.70rem;
    margin-right: 0.70rem;
    border-radius: 5px;
    cursor: pointer;
    height: fit-content;
    display: flex;
    text-align: center;
    justify-content: left;
    margin-bottom: 1.30rem;
}

.Gold_weight_option:hover{
    background-color: var(--Layout_option_hover_backgroundColor);
}

.Gold_weight_option_title{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.20rem;
    font-weight: 600;
    margin-top: auto;
    margin-bottom: auto;
}

.Gold_weight_information{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.20rem;
    text-align: center;
    font-weight: 600;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0.90rem;
    margin-right: 0.90rem;
}

.Weight_distribution{
    display: flex;
    text-align: center;
    justify-content: left;
    margin-left: 1rem;
}

.Order_weight{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.3rem;
    color: black;
    padding-top: 0.50rem;
    padding-bottom: 0.50rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    border-radius: 6px;
    background-color: white;
    margin-left: 0.90rem;
}

.Market_weight{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.30rem;
    color: black;
    padding-top: 0.50rem;
    padding-bottom: 0.50rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    border-radius: 6px;
    background-color: white;
}

.Category_wise_title{
    margin-left: 1rem;
    margin-top: 1.60rem;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.40rem;
}

.Category_wise_product_weight{
    margin-top: 1.3rem;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: left;
}

.Category_wise_product_div{
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow:  0.20rem 0.20rem 0.30rem #cdcdcd;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    margin-left: 0.80rem;
    margin-right: 0.80rem;
    margin-top: 0.70rem; 
    margin-bottom: 0.70rem; 
    width: 14%; 
    cursor: pointer ; 
}

.Category_wise_product_title{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.30rem;
    font-weight: 500;
    margin-bottom: 0.60rem; 
}

.Category_wise_product_data{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.20rem;
    margin-top: 1rem;
}

#Order_sell_information{
    height: 100%;
    width: 80%;
    background-color: #ececec;
    display: none;
}

.Order_sell_option{
    display: flex;
    text-align: center;
    justify-content: left;
    padding: 1rem;
}

.Order_sell_layout:hover{
    background-color: var(--Layout_option_hover_backgroundColor);
}

.Order_sell_layout{
    background-color: var(--Layout_option_backgroundColor);
    padding-top: 0.70rem;
    padding-bottom: 0.70rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: fit-content;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.20rem;
    color: white;
    border-radius: 5px;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
}

.Sell_weight_price_information{
    display: flex;
    text-align: center;
    justify-content: left;
    padding: 1rem;
}

.Sell_option{
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Mukta', sans-serif;
    font-size: 1.30rem;
    background-color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 5px;
    box-shadow: 0.20rem 0.20rem 0.30rem #cecece;
    cursor: pointer;
}

.SellIndexLayout{
    background-color: var(--Layout_option_backgroundColor);
    color: white;
    margin-top: 1rem;
}

.Sell_list_index{
    display: flex;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
    padding-top: 0.70rem;
    padding-bottom: 0.70rem;
    padding-left: 0.80rem;
    padding-right: 0.80rem;
}

.Sell_index_font{
    font-family: 'Mukta', sans-serif;
    font-size: 1.30rem;
}

.Sell_list_index_data{
    width: 5%;
    text-align: left;
}

.Sell_list_order_id{
    width: 13%;
    text-align: left;
    padding-left: 0.70rem;
}

.Sell_list_username{
    width: 17%;
    text-align: left;
    padding-left: 0.70rem;
}

.Sell_list_mobile_number{
    width: 20%;
    text-align: left;
    padding-left: 0.70rem;
}

.Sell_list_order_status{
    width: 18%;
    text-align: left;
    padding-left: 0.70rem;
}
.Sell_list_order_date{
    width: 12%;
    text-align: left;
    padding-left: 0.70rem;
}

.Sell_list_order_value{
    width: 15%;
    text-align: left;
    padding-left: 0.70rem;
}

.SellIndexBorder{
    border-left: 1px solid var(--Layout_option_hover_backgroundColor);
}

.OtherSellData{
    background-color: white;
    margin-top: 0.80rem;
    margin-bottom: 0.80rem;
}

#Sell_list_division{
    display: block;
    overflow-y: auto;
    height: 78vh;
}

#Sell_order_layout{
    height: 90vh;
    width: 100%;
    overflow-y: auto;
    display: none;
}

#Sell_price_information{
    display: flex;
}

#Refund_payment_layout{
    display: none;
    width: 80%;
}

#Refunded_payment_layout{
    display: none; 
    width:  80%;
}

.Refund_payment_data{
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 5px;
}

.Make_refund_button{
    background-color: white;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.20rem; 
    padding-top: 0.80rem;
    padding-bottom: 0.80rem;
    color: rgb(255, 68, 68);
    cursor: pointer;
    font-weight: 500;
}

.Make_refund_button:hover{
    background-color: #dadada;
    color: black;
}

#Sell_order_list_processing{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 1rem;
}

#Order_close{
    font-family: "Ubuntu", sans-serif;
    font-size: 1.4rem;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    display: none;
}

#Gold_silver_product{
    height: 80%; 
    overflow-y: auto; 
}

#Not_found_order{
    font-family: 'Ubuntu', sans-serif; 
    font-size: 1.3rem; 
    margin-left: auto; 
    margin-right: auto;
    margin-top: 1rem;
    text-align: center;
}